.Header {
  height: 75px;
  font-weight: bold;
  display: flex;
  background-color: blueviolet;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-inline: 30px;
  top: 0;
  left: 0;
  right: 0;
}

.Link {
  color: white;
  text-decoration-line: none;
}

.textarea {
  background-color: transparent;
  color: white;
  width: auto;
}

.Menu {
  ul {
    display: flex;
    list-style: none;

    li + li {
      margin-left: 30px; 
    }

  }
}